

/* new navbar*/
#content{
  	padding:15px 15px;
  }
#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  transition: 0.4s;
  width: 98%;
  top: 0;
  z-index: 99;
}


#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
  margin-top: -10px;
}

#navbar-right {
  float: right;
  padding-right: 15px;
  font-style: oblique;
  font-size: 2em;
}
.image-holder{
 float: right;
 position: relative;
 top: -320px;
 z-index: 1;
}
 /* unvisited link */
#footer a:link {
  color: #f1f1f1;
  font-size: 18px;
}

/* visited link */
#footer a:visited {
  color: green;
}

/* mouse over link */
#footer a:hover {
  color: #fff;
  font-size: 20px;
}

/* selected link */
#footer a:active {
  color: blue;
} 

@media screen and (max-width: 650px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar-right {
    float: none;
  }
  #content{
  	margin-top: 330px;
  }
}

/*end new navbar*/
