
#smallcards{
	padding: 10px;
	width: 60%;
	margin-left: 20%;
	box-shadow: 0 0 10px  grey;
	
}
#largecards{
	padding: 10px;
	width: 65%;
	margin-left: 17%;
	box-shadow: 0 0 10px  grey;
}
/* myplace */

ul, #myplace{
	list-style-type: none;
	color: saddlebrown;
}
#myplace{
	margin: 0;
	padding: 0;
}
.ceret{
	cursor: pointer;
	user-select: none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  transform: rotate(90deg);
}
.nested {
  display: none;
}
.active {
  display: block;
}



@media (max-width: 800px){
	#smallcards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  grey;
}
#largecards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  grey;
}
}
a{
  color: blue;
}
a:visited {
  color: purple;
}