.myprofile{
	display: flex;
}
.myprofile-text p{
	width: 80%;
	margin-left: 10%;
	margin-top: 10%;
	color:#282E34;
  background-color:#e7e7e7;
  text-align:center;
  padding:16px 24px;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .myprofile{
	display: block;
}
.myprofile-text p{
	width: 95%;
	margin-left: 2%;
	margin-top: 5%;
	color:#282E34;
  background-color:#e7e7e7;
  text-align:center;
  padding:1%;
  text-align: justify;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
}