#content2{
  	margin-top:130px;
  	padding:15px 15px;
  	display: flex;
  }
#smallcards{
	padding: 10px;
	width: 60%;
	margin-left: 5%;
	box-shadow: 0 0 10px  grey;
	border-radius: 20px;
	
}
#mytag{
	color: black;
	font-size: 24px;
	font-weight: bold;
}

#smallcards p{
	font-size: 18px;
	font-style: italic;
	
}

#largecards{
	padding: 10px;
	width: 25%;
	margin-left: 5%;
	box-shadow: 0 0 10px  grey;
	border-radius: 20px;
}
#largecards p{
	font-size: 24px;
	font-style: italic;
	
}
#largecards label{
	color:  #3d3d3d;
	font-size: 22px;
	font-style: italic;
	
}
#navbar-right label{
	font-size: 20px;
	margin-right: 20px;
}

/*portfolio design*/
.submenu{
	background: #00000000;
	padding: 5px;
	height: 100px;
}

.submenu-menu{
	background: #fff;
	padding: 15px 8px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 50%;
	margin-left: 30%;
	margin-top: -6%;
	pointer-events: none;
	opacity: 0;

}
.submenu-menu a {
	background: white;
	padding: 12px 8px;

}
.btnmenu{
	cursor: pointer;
	margin-left: 90%;

}
/* resume and portfolio */
.Portfolio{
	padding: 1%;
	background: #00000000;
}
.resumecontent{
	display: none;
	color: blue;
}

/* content for portfiloi */
.mydiscriptioncontent{
	display: flex;
	padding: 1%;
	background: #f1f1f1;
}
.mycontent1{
	width: 40%;
	margin-left: 5%;
	background: white;
	border-radius: 12px;
	padding: 2%;

}
.mycontent2{
	width: 40%;
	margin-left: 5%;
	background: white;
	border-radius: 12px;
	padding: 2%;
}



@media (max-width: 800px){
	#content2{
  	margin-top:130px;
  	padding:15px 15px;
  	display: block;
  }
	#smallcards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  grey;
}
#largecards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  grey;
}
.btnmenu{
	cursor: pointer;
	margin-left: 90%;

}
.submenu-menu a {
	background: white;
	padding: 2px 1px;

}
.mydiscriptioncontent{
	display: block;
	padding: 1%;
	background: #f1f1f1;
}
.mycontent1{
	width: 90%;
	margin-left: 5%;
	background: white;

}
.mycontent2{
	width: 90%;
	margin-left: 5%;
	background: white;
}

}
a{
  color: blue;
}
a:visited {
  color: purple;
}