body{
	background: #3b3b3b ;
}
#content2{
  	margin-top:130px;
  	padding:15px 15px;
  	display: flex;
  }
#smallcards{
	padding: 10px;
	width: 60%;
	margin-left: 5%;
	box-shadow: 0 0 10px  white;
	border-radius: 20px;
	
}
#mytag{
	color: black;
	font-size: 24px;
	font-weight: bold;
}

#smallcards p{
	font-size: 18px;
	font-style: italic;
	
}

#largecards{
	padding: 10px;
	width: 25%;
	margin-left: 5%;
	box-shadow: 0 0 10px  white;
	border-radius: 20px;
}
#largecards p{
	font-size: 24px;
	font-style: italic;
	
}
#largecards label{
	color:  #f1f1f1;
	font-size: 22px;
	font-style: italic;
	
}
#navbar-right label{
	font-size: 20px;
	margin-right: 20px;
}

/*portfolio design*/
.submenu{
	background: #00000000;
	padding: 5px;
	height: 100px;
}

.submenu-menu{
	background: #fff;
	padding: 15px 8px;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 50%;
	margin-left: 30%;
	margin-top: -6%;
	pointer-events: none;
	opacity: 0;

}
.submenu-menu a {
	background: white;
	padding: 12px 8px;

}
.btnmenu{
	cursor: pointer;
	margin-left: 90%;

}
/* resume and portfolio */
.Portfolio{
	padding: 1%;
	background: #00000000;
}
.resumecontent{
	display: none;
}

/* content for portfiloi */
.mydiscriptioncontent{
	display: flex;
	padding: 1%;
	background: #f1f1f1;
}
.mycontent1{
	width: 40%;
	margin-left: 5%;
	background: white;
	border-radius: 12px;
	padding: 2%;

}
.mycontent2{
	width: 40%;
	margin-left: 5%;
	background: white;
	border-radius: 12px;
	padding: 2%;
}
/* rating styling */
.myresumerating{
	width: 90%;
	padding:1%;
	background: white;
	margin-left: 4%;
}
.myrate{
	background: #f1f1f1;
	border-radius: 10px;
	padding:3px;
}
#ratingtable th{
	background-color: purple ;
	padding: 10px 8px;
	color: white;
}
.ratescorehead{
	width: 90%;
}
#ratetrack{
	background: white;
	width: 100%;
	height: 20px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-top: 10px;
}
/* rate score given*/
/* 85 #228b22 ,70 #57e32c, 60 #ffe234 ,50 #ffa534*/
#javaratetrain{
	background: #228b22;
	width: 90%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#htmlratetrain{
	background: #57e32c;
	width: 85%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#cssratetrain{
	background: #b7dd29;
	width: 83%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#uxratetrain{
	background: #b7dd29;
	width: 72%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#javascriptratetrain{
	background: #ffe234;
	width: 60%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#gitratetrain{
	background: #ffe234;
	width: 59%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#laravelratetrain{
	background:  	#ffa534;
	width: 40%;
	height: 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}



@media (max-width: 800px){
	#content2{
  	margin-top:130px;
  	padding:15px 15px;
  	display: block;
  }
	#smallcards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  white;
}
#largecards{
	padding: 10px;
	width: 98%;
	margin-left: 0%;
	box-shadow: 0 0 10px  white;
}
.btnmenu{
	cursor: pointer;
	margin-left: 90%;

}
.submenu-menu a {
	background: white;
	padding: 2px 1px;

}
.mydiscriptioncontent{
	display: block;
	padding: 1%;
	background: #f1f1f1;
}
.mycontent1{
	width: 90%;
	margin-left: 5%;
	background: white;

}
.mycontent2{
	width: 90%;
	margin-left: 5%;
	background: white;
}

}
a{
  color: blue;
}
a:visited {
  color: purple;
}