*{
	padding: 0;
	box-sizing: border-box;
}
.snapsection{
	-ms-overflow-style: none; 
    scrollbar-width: none;
	height: 100vh;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	overflow: scroll;
}
.parent-element{
	-ms-overflow-style: none; 
    scrollbar-width: none;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	

}
.parent-element::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.snapsection::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.section-home{
	position: relative;
	background: #00000000;
}


