#linkholder{
padding: 10px;
display: block;
width: 25%;
margin-left: 20%;
box-shadow: 0 0 10px grey;
  
}
/*@keyframes move{
  0%{
    -ms-transform: rotate(3deg); 
  transform: rotate(3deg);
  }
   50%{
   -ms-transform: rotate(-3deg); 
  transform: rotate(-3deg);
  }
  100%{
  	-ms-transform: rotate(3deg); 
  transform: rotate(3deg);
  }
}*/

#mainlink{
	width: 100%;
	display: flex;
}
#linkpotrait{
background: #00000000;
width: 100%%;
padding-left :10px;

}
#linkdiscription{
	background: #00000000;
	width: 100%;
	padding-left :10px;
	color: green;
	

}
#linkpotrait label{
background: #f1f1f1;
color: black;
}
#linkdiscription label{
background: #f1f1f1;
color: black;
}
@media screen and (max-width: 800px){
	#linkholder{
padding: 10px;
display: block;
width: 98%;
margin-left: 1%;
}
	#linkpotrait{
background: #00000000;
width: 98%;
padding-left :10px;
}
#linkdiscription{
	background: #00000000;
	width: 98%;
	padding-left :10px;

}
}